
{% load static %}

    <footer>
        <div class="container-fluid bg-secondary text-black mt-5 pt-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <p style="font-size:20px">
                            <b style="font-size:22px"><big> Contact us: </big><br></b>
                            1-888-280-4331<br>
                            <p style="font-size:20px">
                                <b style="font-size:22px"><big> Email: </big><br></b>
                                bajlanftmeah@gmail.com<br>
                                <p style="font-size:20px">
                                    <b style="font-size:22px"><big> Everyday: </big><br></b>
                                    8 a.m. to 10 p.m.
                                </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">      
                        <p style="font-size:20px">
                            <b style="font-size:22px; "><big> Get to Know Us: </big><br></b>
                            Careers<br>
                            Blog<br>
                            About Ecom<br>
                            Investor Relations<br>
                            Ecom Devices<br>
                            Ecom Science<br>
                            Tehran<br>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <p style="font-size:20px">
                            <b style="font-size:22px"><big> Make Money with Us: </big><br></b>
                            Sell products on Ecom<br>
                            Sell on Ecom Business<br>
                            Sell apps on Ecom<br>
                            Become an Affiliate<br>
                            Advertise Your Products<br>
                            Self-Publish with Us<br>
                            Host an Ecom Hub<br>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <p style="font-size:20px">
                            <b style="font-size:22px"><big> Ecom Payment Products: </big><br></b>
                            Ecom Business Card<br>
                            Shop with Points<br>
                            Reload Your Balance<br>
                            Ecom Currency Converter<br>
                        </p>
        
                    </div>    
                </div>
            </div>
        </div>
    </footer>

