<!DOCTYPE html>
<head>
    <h1 style=" text-align:center; background-color: rgb(165, 241, 178) ;">Wellcome to the Ecom online shop</h1>
    <p style=" text-align:center; border: 2px solid Violet;">spend less, smile more<br></p>
    
</head>
<body>
    <style>
        .dot {
          height: 30px;
          width: 30px;
          background-color: rgb(241, 241, 161);
          border-radius: 50%;
          display: inline-block;
        }
        .dot2 {
          height: 30px;
          width: 30px;
          background-color: rgb(252, 178, 178);
          border-radius: 50%;
          display: inline-block;
        }
        </style>
        <div  style="text-align:center">
            <span class="dot2"></span>
            <span class="dot"></span>
            <span class="dot2"></span>
            <span class="dot"></span>
            <span class="dot2"></span>
            <span class="dot"></span>
            <span class="dot2"></span>
            <span class="dot"></span>
            <span class="dot2"></span>
        </div>
        <p style=" text-align:center; background-color:rgba(255, 255, 255, 0.329); color: rgba(255, 255, 255, 0.329);">hi</p>
        

</body>
</html>